<h1 id="tableLabel">Student Management</h1>

<p *ngIf="!students"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="students">
  <thead>
    <tr>
      <th>Student ID</th>
      <th>Name</th>
      <th>Surname</th>
      <th>ContactNo</th>
      <th>Address</th>
      <th>Email</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="students.length>0">
    <tr *ngFor="let student of students">
      <td>{{ student.Sid }}</td>
      <td>{{ student.Name }}</td>
      <td>{{ student.Surname }}</td>
      <td>{{ student.ContactNo }}</td>
      <td>{{ student.Address }}</td>
      <td>{{ student.Email }}</td>
      <td>
        <button (click)="DeleteStudent(student.Sid)">Delete</button>
      </td>
    </tr>
  </tbody>
  <tbody *ngIf="students.length==0">
    <tr>
      <td colspan="7">Kayıt bulunamadı!</td>
    </tr>
  </tbody>
</table>
<br />
<!--<app-CourseAdd (saved)="GetStudents()"></app-CourseAdd>-->
